.taskBoxElement {
  padding: 5px 5px;
  border: 1px solid black;
}

.taskRow {
  margin: 0 5px 0 5px;
  box-sizing: border-box;
}

.taskBox {
  border: 1px solid black;
  background-color: rgb(230, 230, 230);
  width: 40em;
  padding: 5px 5px;
  margin: 0px 0px;
}

.tasksList {
  width: 40em;
}

.listHeader {
  min-height: 30px;
  background-color: grey;
}
